html {
  color-scheme: light dark;
  --color-accent: oklch(58.38% 0.1877 322.87);
  accent-color: var(--color-accent);
}


body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
}

nav {
  display: flex;
  margin-bottom: auto;
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom: 1px solid var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}


input, textarea, button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1; 
  justify-self: center;
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.project-text p {
  font-family: inherit;
}

.project-text .project-year {
  font-family: Baskerville, serif;
  color: gray;
  font-variant-numeric: oldstyle-nums;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.projects h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
  margin-bottom: 0.3em
}

.my-horizontal-line {
  border: none;
  height: 2px;
  background-color: var(--border-color);
}

.tagline {
  font-size: 1.1em;
  margin-bottom: 1.2em;
  font-style: italic;
  font-weight: 500;
}

.resume-card {
  background: field;
  padding: 1.4em 1.1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 8px rgba(60,60,60,0.08);
  border: 1px solid var(--border-color);
}


.card-header {
  background-color: var(--color-accent); 
  padding: 0.5em 1em;
  margin: -1.5em -1.5em 1em -1.5em; 
}

.card-header h2 {
  color: white;
  margin: 0;
  font-size: 1.5em;
}

body {
  position: relative;
  padding-top: 3.3em;
}

.color-scheme {
  position: absolute;
  top: 1rem; 
  right: 1rem;
  font-size: 0.80em;
  font-family: inherit;
  background: none;
}

.color-scheme select, .color-scheme label {
  font-family: inherit;
}

#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
#profile-stats dt {
  grid-row: 1;
  font-weight: bold;
}
#profile-stats dd {
  grid-row: 2;
  margin: 0;
}

#projects-pie-plot {
  max-width: 22em;
  min-width: 13em;
  overflow: visible;
  flex-shrink: 0;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  border: 1px solid lightgray;
  padding: 1em;
  flex: 1;
  align-self: center;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.swatch {
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 0.25em;
  display: inline-block;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 2.5em;
  flex-wrap: wrap;
  margin-block: 2em;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.stats dl {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
}
.stats dt {
  grid-row: 1;
  color: #81848f;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 0.5em;
}
.stats dd {
  grid-row: 2;
  font-size: 2.8em;
  margin: 0;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.1;
}
/* 
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  margin-top: 1rem;
}

.stats dt {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.stats dd {
  margin: 0;
  font-size: 1.2rem;
  color: #333;
} */
