html {
  --color-accent: oklch(58.38% 0.1877 322.87);
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 1em;
}

nav {
  display: flex;
  margin-bottom: auto;
  border-bottom: 1px solid oklch(80% 3% 200);
}
nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid oklch(80% 3% 200);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

input, textarea, button {
  font: inherit;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1; 
  justify-self: center;
  width: 100%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 1em;
}

.projects h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
  margin-bottom: 0.3em
}

.my-horizontal-line {
  border: none;
  height: 2px; 
  background-color: oklch(80% 3% 200); 
}

.tagline {
  font-size: 1.1em;
  margin-bottom: 1.2em;
  font-style: italic;
  font-weight: 500;
}

.resume-card {
  background: #fafafa;
  padding: 1.4em 1.1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 8px rgba(60,60,60,0.08);
  border: 1px solid #e7e7e7;
}


.card-header {
  background-color: var(--color-accent); 
  padding: 0.5em 1em;
  margin: -1.5em -1.5em 1em -1.5em; 
}

.card-header h2 {
  color: white;
  margin: 0;
  font-size: 1.5em;
}
